<nav class="nav">
  <div class="nav-inner">
    <a href="/courses" class="brand">
      <img src="/static/assets/img/logo.webp" alt="Grocademy" />
      Grocademy
    </a>
    <div class="nav-links">
      <a href="/courses" class="{{#if (eq page 'browse')}}active{{/if}}">Browse</a>
      <a href="/my-courses" class="{{#if (eq page 'mine')}}active{{/if}}">My Courses</a>
      {{#if user}}
        <span class="balance-pill">Balance: ${{user.balance}}</span>
        <form action="/logout" method="post" style="display:inline">
          <button class="btn ghost" type="submit">Logout ({{user.username}})</button>
        </form>
      {{else}}
        <a class="btn" href="/login">Login</a>
        <a class="btn primary" href="/register">Register</a>
      {{/if}}
    </div>
  </div>
</nav>
