<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>{{title}}</h1>
  <p>Gelo gini bro. Jujur flow gawe pake nestjs enak si</p>
</body>
</html>
